.stat-item{
    display: flex;
    margin-bottom: 1rem;

    .stat-title{
        margin: 0 2rem 0 0;
        min-width: 6em;
    }

    .stat-percentages{
        margin: 0;
        display: flex;

        dd{
            margin: 0 2em 0 0.5em;
        }
    }
}